@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
  label>#hamburgerimg {
    margin-left: 20px;
    margin-top: 30px;
    display: inline;
  }
  #menuclick {
    display: none;
  }
  .mobile-nav {
    visibility: hidden;
    overflow: hidden;
    display: inline;
  }
  #menuclick:checked~.mobile-nav {
    visibility: visible;
    max-height: 500px;
    font-size: 2rem;
  }
  .main-nav .logo {
    margin-right: auto;
  }
  .main-nav .logotext {
    margin-left: 15%;
    font-size: 1rem;
  }
  .links {
    display: none;
  }
  .main-nav img {
    min-width: 64px;
  }
  .career {
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0;
    border: 0;
  }
  .career > article {
    flex-direction: column;
  }
  .career > article > div {
    width: 90%;
    margin: auto;
    border: 0px solid;
    padding: 1px;
  }
  .sound {
    position: relative;
    width: 100%;
    display: block;
  }
  .audioImages {
    border: 0;
    flex-flow: wrap;
  }
  .audioImages img {
    width: 50%;
    height: 100%;
    margin: 0;
    min-width: 48px;
  }
  .audiotext {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
  }
  .bodytext {
    width: 100%;
    padding: 5px;
  }
  .contact {
    flex-direction: column;
  }
  .contactimages {
    flex-direction: column;
  }
  .contactimages li i {
    font-size: 6rem;
  }
  .contactimages li i:hover {
    font-size: 6.5rem;
  }
  .footinfo {
    flex-direction: column;
  }
  .footinfo img {
    height: 100%;
    width: 100%;
  }
  .footinfo ul {
    top: 25%;
    left: 3%;
    width: 80%;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 1199px) {
  html {
    font-size: 16px;
  }
  .contentroles {
    width: 100%;
    margin-top: 15px;
  }
  .dev {
    width: 100%;
    margin: auto;
  }
  .audiotext {
    flex-direction: column;
  }
  .bodytext {
    width: 95%;
    padding: 5px;
  }
  .footinfo ul {
    top: 55%;
    left: 3%;
    max-width: 70%;
    font-size: 1rem;
    color: white;
    background: rgba(0, 0, 0, 0.95);
  }
  #menuclick,
  #hamburgerimg {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
  #menuclick,
  #hamburgerimg {
    display: none;
  }
}
