@import url('https://fonts.googleapis.com/css?family=Oswald:600');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F5F1F1;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

h2 {
  font-family: Oswald;
  font-size: 1.75rem;
  color: #F1F5F3;
  background-color: black;
  padding-left: 5px;
}

h3 {
  font-family: Oswald;
  font-size: 1.5rem;
  color: #F1F5F3;
  background-color: black;
  padding: 5px;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  max-width: 1280px;
  margin: auto;
}

img, embed, object, video {
  max-width: 100%;
}

.bolding {
  font-weight: bold;
}

.main-nav {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin: auto;
  max-width: 100%;
}

.main-nav #navright {
  margin-right: auto;
}

.main-nav a {
  margin: 5px;
  padding: 15px;
  display: block;
  text-decoration: none;
  color: black;
}

.main-nav .links {
  margin-left: auto;
  font-family: Oswald;
  font-size: 1.5rem;
  margin-top: 40px;
  text-decoration-style: double;
}

.main-nav .logo {
  margin-right: 10%;
}

.main-nav .logotext {
  margin-left: 50%;
  margin-top: 10px;
  font-family: Oswald;
  font-size: 1.1rem;
}

.main-nav img {
  min-width: 90px;
}

#strikethrough {
  text-decoration: line-through;
}

#impacting {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#pint {
  width: 2rem;
  height: 100%;
}

#myrtle {
  width: 6rem;
  height: 100%;
}

.description {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
}

.career {
  position: relative;
  width: 100%;
  flex-direction: column;
  height: 100%;
  display: flex;
  margin: auto;
  padding: 16px;
  border: 32px;
}

.careerimages {
  position: relative;
  flex-direction: row;
  width: 100%;
  display: flex;
  margin: auto;
}

.careerimages img{
  margin: auto;
  width: 10%;
  height: 100%;
}

.dev {
  width: 80%;
  background-color: #F7C;
  margin: auto;
}

.dev p {
  margin: 8px;
  padding: 4px;
}

.contentroles {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  background-color: #39D;
}

.contentroles p {
  margin: 8px;
  padding: 4px;
}

.sound {
  position: relative;
  width: 100%;
  margin: auto;
}

.audioimages {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  display: flex;
  border: 32px;
  margin: auto;
}

.audioimages img {
  width: 20%;
  height: 100%;
  margin: auto;
}

.audiotext {
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  margin: auto;
}

.bodytext {
  width: 50%;
  padding: 16px;
}

.socialproof {
  width: 50%;
  padding: 16px;
  font-family: Oswald;
}

.projects li {
  margin: 10% 10%;
}

.contact {  
  position: relative;
  flex-direction: row;
  width: 80%;
  height: 100%;
  display: flex;
  padding: 16px;
  border: 32px;
  margin: auto;
}

.contactimages {
  position: relative;
  flex-direction: row;
  width: 80%;
  height: 100%;
  display: flex;
  padding: 16px;
  border: 32px;
  margin: auto;
}

.contactimages img {
  position: relative;
  display: block;
  width: 18%;
  padding: 7%;
}

.projects {
    background-color: #F7C;
}

.projects ul{
  font-size: 1.1rem;
  margin: 16px 0;
  padding: 8px 16px;
}

.projects li{
  margin: 16px 0;
}

.footinfo {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  border: 0;
  margin: auto;
}

.footinfo img {
  position: relative;
  display: block;
  height: 50%;
  width: 50%;
}

.footinfo ul {
  z-index: 1;
  position: absolute;
  top: 65%;
  left: 3%;
  width: 60%;
  font-family: oswald;
  font-size: 1.5rem;
  text-align: left;
  color: white;
  background: rgba(0, 0, 0, 0.95);
}