@import url('https://fonts.googleapis.com/css?family=Oswald:600');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #F5F1F1;
  }
  
  h1, h2, h3, h4, h5 {
    margin: 0; 
  }

  h2 {
      font-family: Oswald;
      font-size: 30px;
      color: #F1F5F3;
      background-color: black;
  }
  h3 {
    font-family: Oswald;
    font-size: 24px;
    color: #F1F5F3;
    background-color: black;
  }
  
  header, nav, footer, section, article, div {
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  main {
    max-width: 1280px;
    margin: auto;
  }

  img, embed, object, video {
    max-width: 100%;
  }

  .bolding {
    font-weight: bold;
  }

  .navheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
  }
  
  .navtext {
    flex-grow: 1;
  }

  .navtext div {
    display: inline;
  }

  .logocontainer {
    align-items: center;
  }

  #logotext {
    width: 9px;
  }

  #strikethrough {
    text-decoration: line-through;
  }

  #impacting {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .description {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
  }

  .career {
    position: relative;
    width: 100%;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    padding: 1rem;
    border: 2rem;
  }

  .careerimages {
    position: relative;
    flex-direction: row;
    width: 100%;
    display: flex;
    margin: auto;
  }

  .careerimages img{
    margin: auto;
  }

  .dev {
    width:50%;
    background-color: #F7C;
  }

  .dev p {
    margin: 0.5rem;
    padding: 0.2rem;
  }

  .contentroles {
    width:50%;
    background-color: #39D;
  }

  .contentroles p {
    margin: 0.5rem;
    padding: 0.2rem;
  }

  .sound {
    position: relative;
    width: 100%;
    margin: auto;
  }

  .audioimages {
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1rem;
    border: 2rem;
    margin: auto;
  }

  .audioimages img {
    width: 20%;
    height: 100%;
    margin: auto;
  }

  .audiotext {
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    margin: auto;
  }

  .bodytext {
    width: 50%;
    padding: 1rem;
  }

  .socialproof {
    width: 50%;
    padding: 1rem;
    font-family: Oswald;
  }

  .projects li {
    margin: 10% 10%;
  }
  
  .contact {
    position: relative;
    flex-direction: row;
    width: 80%;
    height: 100%;
    display: flex;
    padding: 1rem;
    border: 2rem;
    margin: auto;
  }
  
  .contact img {
    position: relative;
    display: block;
    width: 18%;
    padding: 7%;
  }

  .projects {
      background-color: #F7C;
  }

  .projects ul{
    font-size: 18px;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
  }

  .projects li{
    margin: 1rem 0;
  }

  .footinfo {
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    border: 0;
    margin: auto;
  }

  .footinfo img {
    position: relative;
    display: block;
    height: 50%;
    width: 50%;
  }

  .footinfo ul {
    z-index: 1;
    position: absolute;
    top: 65%;
    left: 3%;
    width: 60%;
    font-family: oswald;
    font-size: 20px;
    text-align: left;
    color: white;
    background: rgba(0, 0, 0, 0.95);
  }