@import url('https://fonts.googleapis.com/css?family=Oswald:600');
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #F5F1F1;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h2 {
  font-family: Oswald, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.75rem;
  color: black;
  background-color: #FF75CA;
  padding-left: 3px;
}

h3 {
  font-family: Oswald, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  color: #EFE;
  background-color: black;
  padding: 5px;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  max-width: 1280px;
  margin: auto;
}

img,
embed,
object,
video {
  max-width: 100%;
}

.bolding {
  font-weight: bold;
}

.main-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-nav a {
  margin: 5px;
  padding: 15px;
  display: block;
  text-decoration: none;
  color: black;
}

.mobile-nav {
  font-size: 1rem;
  font-family: Oswald, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  margin-top: 25%;
  margin-left: 0;
  visibility: hidden;
  overflow: hidden;
  display: none;
  max-width: 50%;
  z-index: 999;
  max-height: 0;
  text-decoration: underline;
  transition: max-height .1s ease-in-out;
  background-color: #F5F1F1;
}

.links {
  margin-left: auto;
  font-family: Oswald, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  margin-top: 40px;
  text-decoration-style: double;
}

.logo {
  margin-right: auto;
}

.logotext {
  margin-left: 20%;
  margin-top: .3%;
  font-family: Oswald, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.1rem;
}

.main-nav img {
  min-width: 90px;
}

#strikethrough {
  text-decoration: line-through;
}

#impacting {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#pint {
  width: 2rem;
  height: 100%;
}

#myrtle {
  width: 6rem;
  height: 100%;
}

.description {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
}

.career {
  position: relative;
  width: 100%;
  flex-direction: column;
  height: 100%;
  display: flex;
  margin: auto;
  padding: 16px;
  border: 32px;
}

.dev {
  width: 100%;
  background-color: #4AD;
  margin: auto;
}

.dev p {
  margin: 8px;
  padding: 4px;
}

.contentroles {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  background-color: #E46;
}

.contentroles p {
  margin: 8px;
  padding: 4px;
}

.sound {
  position: relative;
  width: 100%;
  margin: auto;
}

.audioImages {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  display: flex;
  border: 32px;
  margin: auto;
}

.audioImages li {
  width: 225px;
  height: 225px;
  margin: 10px auto;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.audioImages li i {
  cursor: pointer;
  font-size: 8rem;
  transition: 200ms ease-in-out all;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
}

.audioImages li i.fa-play-circle {
  color: #FF75CA;
}

.audioImages li i.fa-pause-circle {
  color: #4AD;
}

.audioImages li:nth-child(1) {
  background-image: url("../img/raster/photos/tn_yokealbum.jpg");
}

.audioImages li:nth-child(2) {
  background-image: url("../img/raster/photos/tn_mugstar.jpg");
}

.audioImages li:nth-child(3) {
  background-image: url("../img/raster/photos/tn_eftmalbum.jpg");
}

.audioImages li:nth-child(4) {
  background-image: url("../img/raster/photos/tn_cardamonepedal.jpg");
}

.audioImages li:nth-child(5) {
  background-image: url("../img/raster/photos/gensunsflower.jpg");
}

.audiotext {
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  margin: auto;
}

.bodytext {
  width: 100%;
  padding: 16px;
}

.contact {
  position: relative;
  flex-direction: row;
  width: 80%;
  height: 100%;
  display: flex;
  padding: 16px;
  border: 32px;
  margin: 32px auto;
}

.contactimages {
  position: relative;
  flex-direction: row;
  width: 90%;
  height: 100%;
  display: flex;
  margin: auto;
}

.contactimages li {
  padding: 24px;
  margin: auto;
}

.contactimages li i {
  color: #4AD;
  font-size: 12rem;
  transition: 400ms ease font-size;
}

.contactimages li i:hover {
  font-size: 11.5rem;
}

.footinfo {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  border: 0;
  margin: 64px auto;
}

.footinfo img {
  position: relative;
  display: block;
  height: 50%;
  width: 50%;
}

.footinfo ul {
  z-index: 1;
  position: absolute;
  top: 65%;
  left: 3%;
  width: 60%;
  font-family: Oswald, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  text-align: left;
  color: white;
  background: rgba(0, 0, 0, 0.95);
}
.footinfo ul li {
  margin: 8px;
}