body {
  margin-top: 20px;
}
.jumbotron{
  margin:40px;
  font-family:Tahoma;
  background-color:RGB(155,195,210);
  opacity:0.9;
}

.moreInfo{
  font-size:250%;
  border: 5px inset RGB(145,195,210);
  margin:10px;
  background-color:RGB(200,210,225);
  color:#022222;
}
.col-sm-4{
  border: 5px inset RGB(100,135,160);
}

footer{
  background-color:white;
  position:absolute;
  opacity:0.7;
}