@import url(https://fonts.googleapis.com/css?family=Chivo);

body {
    font-family: Chivo;
    background: #6441a4;
}

input {
    font-size: 1.5em;
}

button {
    background-color: #4a86e8;
    border: 2px solid black;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#logoImg {
    height: 4em;
}

#searchBar {
    margin: 1% auto;
    text-align: center;
}

#filterButtons {
    text-align: center;
}

#liveBtn {
    background-color: #18ac29;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-family: Chivo;
    padding: 0.2% 5% 0.2% 5%;
}

#allBtn {
    background-color: #4a86e8;
    text-decoration: none;
    display: inline-block;
    font-family: Chivo;
    padding: 0.2% 5% 0.2% 5%;
    font-weight: bold;
}

#pageNumbers {
    text-align: center;
    margin: 1% auto;
    font-family: Chivo;
    padding: 0.2% 5% 0.2% 5%;
    font-weight: bold;
    text-decoration: none;
}

@media (min-width: 1000px) {
    #searchInput {
        margin-left: 1%;
        font-family: Chivo;
    }

    section {
        background: white;
        width: 80%;
        position: relative;
        white-space: nowrap;
        overflow: auto;
        left: 10%;
        padding: 0.5em;
    }

    .paraText {
        line-height: 180px;
        vertical-align: 50%;
        padding: 0.5em;
        font-size: 20px;
    }

    .headText {
        line-height: 180px;
        vertical-align: 50%;
        border: 2px solid black;
        margin-left: 0.5%;
        padding: 0.5em;
        font-size: 24px;
    }

    .responsiveImg {
        width: 320px;
        height: 180px;
        display: inline-table;
        background-position: center;
        line-height: 180px;
        vertical-align: 50%;
        text-align: center;
        background-color: black;
        color: white;
        text-shadow: 0.1em 0.1em 0.01em black;
        font-size: 1.5em;
    }
}

@media (max-width: 1000px) {
    #searchInput {
        font-family: Chivo;
    }

    section {
        background: white;
        width: 90%;
        position: relative;
        white-space: nowrap;
        overflow: auto;
        left: 5%;
        padding: 0.1em;
    }

    .paraText {
        padding: 0.5em;
        font-size: 0.7em;
        display: block;
    }

    .headText {
        border: 2px solid black;
        margin-left: 0.5%;
        display: block;
        left: 2%;
        padding: 0.5em;
        font-size: 1em;
    }

    .responsiveImg {
        width: 80px;
        height: 45px;
        float: left;
        white-space: nowrap;
        background-position: center;
        line-height: 45px;
        vertical-align: 50%;
        text-align: center;
        overflow: hidden;
        background-color: black;
        color: white;
        font-size: 0.5em;
    }
}
