body {
  font-family:monospace;
  background-color:#DEA;
}

#message {
margin: 2% 0% 0% 2%;
 font-size: 2.2rem;

}

#author{margin: 2% 0% 0% 2%;
 font-size: 2rem;
  text-align:right;
}

#getMessage{
  border-style: double;
    border-width:12px;
  font-size: 2rem;
    font-weight:900;
    position:absolute;
top:60%;
  left:15%;
  padding:1%;
  cursor: pointer;
  background-color:#9EA;
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
#tweetIt{
  border-style: double;
  border-width:12px;
 font-size: 2rem;
   font-weight:900;
    position:absolute;
top:60%;
  right:15%;
  padding:1%;
  background-color:#AAA;
    cursor: pointer;
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}